{% extends "layout.html" %}

{% block title %}
   Student Log In
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="d-flex justify-content-center pt-3 pb-2 mb-3">
            <div class="card align-self-center w-25">
                <div class="card-header" id="title">
                    <h3 class="mb-0">
                        <span id="logo">Edministrator</span>
                    </h3>
                </div>
                <div class="card-body p-5 justify-content-center">
                    <form action="/student" method="post">
                        <div>
                            <h3 align="center"> Student Log in</h3>
                        </div>
                        <div class="form-group pt-2">
                            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="password" placeholder="Password" type="password">
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn btn-primary login" type="submit">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
